body {
  margin: 0 auto;
  font-family: "Roboto" serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: white;
  padding-bottom: 32px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 145px;
  margin-top: 38px;
  font-family: "Raleway" serif;
  size: 26px;
  font-weight: 700px;
}

.logo span {
  color: #2196F3;
}

.header-menu {
  position: absolute;
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  top: 32px;
  left: 453px;
  width: 281px;
  height: 16px;
  margin-top: 25px;
}

.header-menu a {
  text-decoration: none;
  color: black;
}

.header-menu a:hover {
  color: #2196F3;
}

.header-contact a:hover {
  color: #2196F3;
}

.header-contact a {
  color: black;
  margin-right: 30px;
}

.header-contact {
  margin-top: 38px;
  margin-right: 100px;
}

.main-blackBackground {
  background-color: #2E2E38;
  color: white;
  min-height: 82vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-blackBackground button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.main-page1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  margin: 0;
  font-weight: 900;
  font-size: 44px;
}

button {
  background: #0099ff;
  color: #FFFFFF;
  width: 216px;
  height: 50px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700px;
}

.why-us {
  display: flex;
  width: 1170px;
  height: 98px;
  margin: 0 auto;
  margin-top: 96px;
  justify-content: space-between;
}

.why-us h3::before {
  content: "✧";
}

.main-page2 {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.main-photo {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 94px;
}

.photo1 {
  width: 370px;
  height: 294px;
  top: 1058px;
  left: 215px;
}

.photo2 {
  width: 370px;
  height: 294px;
  top: 1058px;
  left: 615px;
}

.photo3 {
  width: 370px;
  height: 294px;
  top: 1058px;
  left: 1015px;
}

.main-page3 {
  text-align: center;
}

.photo4 {
  width: 270px;
}

.photo5 {
  width: 270px;
}

.photo6 {
  width: 270px;
}

.photo7 {
  width: 270px;
  height: 260px;
}

.grayBackGround-team {
  display: flex;
  width: 1170px;
  height: 368px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
  margin: 0 auto;
}

.mm {
  text-align: center;
  width: 270px;
  height: 368px;
  background-color: #fff;
  overflow: hidden;
}

.mm img {
  width: 100%;
  height: auto;
  display: block;
  width: 270px;
  height: 260px;
}

.mm p {
  margin: 16px 0;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
}

.job {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
}

.blackBackgroundF {
  background-color: #2E2E38;
  color: white;
  min-height: 87vh;
  width: 100%;
  margin: 0;
}

.blackBackgroundF {
  background-color: #2E2E38;
  color: white;
  min-height: 35vh;
  width: 100%;
  margin: 0;
  display: flex;
}

.blackBackgroundF-logo2 {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-left: 215px;
  margin-top: 60px;
  font-family: "Raleway" serif;
}

.blackBackgroundF-logo2 span {
  color: #2196F3;
}

.blackBackgroundF-end {
  margin-left: -143px;
  margin-top: 111px;
  list-style: none;
  color: gray;
}

.blackBackgroundF-end li {
  margin-bottom: 10px;
}

.blackBackgroundF-end li:hover {
  color: #FFFFFF;
}

.grayBackGround {
  background-color: #F5F4FA;
  height: 648px;
  padding-top: 94px;
  height: 648px;
}
